 /* single global CSS */


 /* Employees View */
 #employeesViewMainDiv {
     margin-top: 20px;
 }

 #employeesViewStatusComboBox {
     position: relative;
     right: -44%;
     bottom: 13px;
 }

 #employeesViewDeleteAll {
     position: relative;
     left: 84%;
     bottom: 14px;
     color: #fff;
     background-color: #e95bbe;
     border-color: #e95bbe;
 }

 .employeesViewDeleteOne {
     position: relative;
     left: 64%;
     color: #fff;
     background-color: #423e3e;
     border-color: #e95bbe;
 }


 /* Login View */
 #loginViewMainContainer {
     position: relative;
     top: 30px;
 }

 #loginViewTitle {
     position: relative;
     bottom: 5px;
     left: 1.5%;
 }

 #loginViewLoginBtn {
     width: 100%;
     position: absolute;
 }

 #loginViewInputName {
     left: 127px;
     width: 100%;
     position: absolute;
 }

 #loginViewMsgHelp {
     position: relative;
     top: 40px;
 }